
@font-face {
  font-family: 'Castoro';
  font-style: normal;
  font-weight: 400;
}
/* latin */
@font-face {
  font-family: 'Castoro';
  font-style: normal;
  font-weight: 400;
}
/* armenian */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
}
/* bengali */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
}
/* canadian-aboriginal */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
}
/* cyrillic */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
}
/* devanagari */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
}
/* ethiopic */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
}
/* georgian */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
}
/* greek-ext */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
}
/* greek */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
}
/* gujarati */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
}
/* gurmukhi */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
}
/* hebrew */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
}
/* khmer */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
}
/* lao */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
}
/* malayalam */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
}
/* oriya */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
}
/* sinhala */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
}
/* symbols */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
}
/* tamil */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
}
/* telugu */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
}
/* thai */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
}
/* vietnamese */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
}
/* latin-ext */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
}
/* latin */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
}
/* cyrillic */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
}
/* devanagari */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
}
/* greek-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
}
/* greek */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
}
/* vietnamese */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
}
/* latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
}
/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
 }